/* Write your code here. */
.emoji-card-item {
  list-style-type: none;
  margin: 5px;
}
.button {
  background-color: #ffffff30;
  padding: 20px;
  border: 4px solid #ffffff30;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

.emoji {
  height: 60px;
}

@media (min-width: 767px) {
  .emoji {
    height: 100px;
  }
  .button {
    padding: 30px;
  }
}

@media (min-width: 991px) {
  .emoji {
    height: 140px;
  }
}
